*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100vh;
}

button{
  margin: 30px;
  padding: 30px;
  align-items: center;
  width: 50%;
}