*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}

.card{
  background-color: rgba(96, 50, 134, 0.322);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}