.header{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 5px;
}

.btn{
    background-color: yellow;
    font-size: 15px;
    font-weight: 700;
}

.logo{
    text-decoration: underline;
}